a:hover{
	color: #b6cad9;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav > li:hover {
  color: #555;
  background:  url(../images/ieee_silhoutte.png) #e7e7e7 no-repeat center center;
  background-size: contain;
}

#ieee-links>a, #ieee-links>a:visited, #ieee-links>a:focus, #ieee-links{
	color: #fff;
}


.bg-1{
	background-color: #00426F;
}

.transition-timer-carousel-progress-bar {
    background-color: #5cb85c;
}

.demo{
	border: 3px solid #3A619E;
	border-top: none;
	border-bottom: none;
		  /*box-shadow: 0 0.3rem 1.5rem rgba(0, 0, 0, 1);*/
}

.section-1{
	font-family: 'Raleway', Arial, Helvetica, sans-serif;
	border-bottom: 5px solid #f2e124;
}

.border-3-gray{
	border: 2px solid #c6c6c6;
}

.page-header{
	/*border-bottom: 3px solid #662E8F;*/
	/*border-bottom-width: 80%;*/
	/*background: url(../images/border-bullet.png) no-repeat;*/
	/*background-size: auto 50%;*/
	/*background-position: 100% 100%;*/
}

.bg-quote{
	background: #1abc9c url(../images/users_bg.jpg) repeat 0 0;
	padding: 60px 0;
	color: #fff;
}

.bg-team{
	background: url(../images/bg-sil-2.png) #fff no-repeat;
	background-size: auto 50%;
	background-position: 100% 115%;
	background-attachment: fixed;
}

.bg-join{
	background: url(../images/bg-sil-4b.png) #fff no-repeat;
	background-size: auto 65%;
	background-position: 100% 115%;
	background-attachment: fixed;
}

.bg-contact{
	background: url(../images/bg-sil-5.png) #fff no-repeat;
	background-size: auto 40%;
	background-position: 100% 105%;
	background-attachment: fixed;
}

.bg-about{
	background: url(../images/bg-sil-1.png) #fff no-repeat;
	background-size: 45% auto;
	background-position: 125% 100%;
	background-attachment: fixed;
}


.section-2:after, .bg-home{
	background: url(../images/bg-sil-3rs.png) #fff right top repeat-y;
	/*background-color: rgba(90, 90, 222, 0.73);*/
}

@media (min-width: 992px) {
	.section-2:after, .bg-home{
		background: url(../images/bg-sil-3r.png) #fff right top repeat-y;
	}
  
}
@media (min-width: 1200px) {
	.section-2:after, .bg-home{
		background: url(../images/bg-sil-3l.png) left top repeat-y,
					url(../images/bg-sil-3r.png) #fff right top repeat-y;
	}
}

footer{
	background: #1C1C1C;
}