a{
	color: #337ab7; 
	/*color: #031879;*/
}

a:hover{
	color: #b6cad9;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav > li:hover {
  color: #555;
  background:  url(../images/ieee_silhoutte.png) #e7e7e7 no-repeat center center;
  background-size: contain;
}

#ieee-links>a, #ieee-links>a:visited, #ieee-links>a:focus, #ieee-links{
	color: #fff;
}


.bg-1{
	background-color: rgba(46, 152, 197, 0.83);
}

.transition-timer-carousel-progress-bar {
    background-color: #5cb85c;
}

.demo{
	border: 3px solid #3A619E;
	border-top: none;
	border-bottom: none;
		  /*box-shadow: 0 0.3rem 1.5rem rgba(0, 0, 0, 1);*/
}

.section-1{
	font-family: 'Raleway', Arial, Helvetica, sans-serif;
	border-bottom: 5px solid #f2e124;
}

.border-3-gray{
	border: 2px solid #c6c6c6;
}



.bg-quote{
	background: #1abc9c url(../images/users_bg.jpg) repeat 0 0;
	padding: 60px 0;
	color: #fff;
}

.bg-quote .item blockquote{
	background: rgba(17, 20, 74, 0.71);
}
.bg-quote blockquote .small, blockquote small{
	color: #000;
}

.bg-attach{
	display: block;
	height: 100%;
	width: 100%;
	/*background-size: auto 50%;*/
	/*background-position: 100% 115%;*/
}
.bg-office{
	background: url(../images/bg-sil-2.png) #fff no-repeat;
	background-size: auto 50%;
	background-position: 100% 115%;
}
.bg-event{
	background: url(../images/bg-sil-2.png) no-repeat;
	background-size: auto 50%;
	background-position: 100% 115%;
}
.bg-join{
	background: url(../images/bg-sil-4b.png) #fff no-repeat;
	background-size: auto 65%;
	background-position: 100% 115%;
}
.bg-contact{
	background: url(../images/bg-sil-5.png) #fff no-repeat;
	background-size: auto 40%;
	background-position: 100% 105%;
}
.bg-about{
	background: url(../images/bg-sil-1.png) #fff no-repeat;
	background-size: 30% auto;
	background-position: 115% 100%;
}
.bg-attach.affix{
	top: 0;
	background-attachment: fixed;
}


.section-2:after, .bg-home{
	background: url(../images/bg-sil-3r.png) #fff right top repeat-y;
	background-size: 50px auto;
}

@media (min-width: 992px) {
	.section-2:after, .bg-home{
		background: url(../images/bg-sil-3r.png) #fff right top repeat-y;
	}
  
}
@media (min-width: 1200px) {
	.section-2:after, .bg-home{
		background: url(../images/bg-sil-3l.png) left top repeat-y,
					url(../images/bg-sil-3r.png) #fff right top repeat-y;
	}
}

footer{
	background: #1c1c1c;
	/*background: rgba(46, 152, 197, 1);*/
	/*background: #131E3B;*/
	/*background: #337ab7;*/
	color: #fff;
}

/*Side Nav*/

.nav-pills>li>a{
	width: 100%;
	border-radius: 0;
	box-shadow: -4px 4px rgba(255, 255, 255, 1),-5px 5px rgba(60, 44, 92, 0.5);
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
	color: #fff;
	background: url(../images/tlcorner.png) no-repeat top left, url(../images/brcorner.png) no-repeat bottom right;
	background-color: #337ab7;
	background-size: auto, auto 30%;
}
.nav-pills>li>a:focus, .nav-pills>li>a:hover {
	background: url(../images/tlcorner.png) no-repeat top left, url(../images/brcorner.png) no-repeat bottom right;
	background-size: auto, auto 30%;
	background-color: #BBD8FF;
	color: #5A98C7;
}

.page-header{
	padding-left: 5px;
	padding-top: 2px;
	border-left: 2px solid transparent;
	border-bottom: 2px solid transparent;
	background: url(../images/phbrcorner.png) no-repeat bottom right,
				url(../images/phtlcorner.png) no-repeat top left,
				url(../images/phborder.png) repeat-x bottom left,
				url(../images/phborder.png) repeat-y bottom left;
	background-origin: border-box;
	background-size: auto 40%, auto 20%, auto, auto;
}

footer .page-header{
	padding-left: 5px;
	border-left: 2px solid transparent;
	border-bottom: 2px solid transparent;
	background: url(../images/fphbrcorner.png) no-repeat bottom right,
				url(../images/fphtlcorner.png) no-repeat top left,
				url(../images/phborder.png) repeat-x bottom left,
				url(../images/phborder.png) repeat-y bottom left;
	background-origin: border-box;
	background-size: auto 40%, auto 20%, auto, auto;

}

