a:hover{
	color: #b6cad9;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav > li:hover {
  color: #555;
  background:  url(../images/ieee_silhoutte.png) #e7e7e7 no-repeat center center;
  background-size: contain;
}

#ieee-links>a, #ieee-links>a:visited, #ieee-links>a:focus, #ieee-links{
	color: #fff;
}


.bg-1{
	background-color: #00426F;
}

.transition-timer-carousel-progress-bar {
    background-color: #5cb85c;
}

.demo{
	border: 3px solid #3A619E;
	border-top: none;
	border-bottom: none;
		  /*box-shadow: 0 0.3rem 1.5rem rgba(0, 0, 0, 1);*/
}

.section-1{
	font-family: 'Raleway', Arial, Helvetica, sans-serif;
	border-bottom: 5px solid #f2e124;
}

.border-3-gray{
	border: 2px solid #c6c6c6;
}

.bg-quote{
	background: #1abc9c url(../images/users_bg.jpg) repeat 0 0;
	padding: 60px 0;
	color: #fff;
}

footer{
	background: #1C1C1C;
}