/*
	Author: Shubham Jain;
	Email: shubhamjain1602@gmail.com;
	Linkedin: www.shubhamja.in;
*/

html{
	height: 100%;
}
body{
	font-family: 'Nunito', sans-serif;
}

#loader{
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 99999;
	background:url(../images/preloader.gif) 50% 50% no-repeat #fff;
}

a, a:hover, a:visited, a:focus{
	text-decoration: none;
}

#ieee-links{
	padding-top: 5px;
	margin: auto auto;
	font-size: 0.9em;
}

