/*
	Author: Shubham Jain;
	Email: shubhamjain1602@gmail.com;
	Linkedin: www.shubhamja.in;
*/

html{
	height: 100%;
}
body{
	height: 100%;
	padding-top: 109px;
	font-family: 'Nunito', sans-serif;
}

/* Wrapper for page content to push down */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /*margin-top: -50px;*/
}

#loader{
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 99999;
	background:url(../images/preloader.gif) 50% 50% no-repeat #fff;
}

a, a:hover, a:visited, a:focus{
	text-decoration: none;
}

#ieee-links{
	padding-top: 5px;
	margin: auto auto;
	font-size: 0.9em;
}

#navigation > .navbar{
	margin-bottom: 0px;
}

.navbar-brand{
	padding: 0px;
	height: 75px;
	margin-left: 0px;
}

.navbar-brand>img{
	height: inherit;
}
@media (min-width: 768px){
	.navbar-nav>li>a {
	  padding-top: 20px;
	  padding-bottom: 20px;
		line-height: 35px;
	}
}

.carousel-control.left,.carousel-control.right{
	background-image: none;
}

.carousel,.item,.active{height:100%;}
.carousel-inner{height:100%;}
	
.transition-timer-carousel-progress-bar {
    height: 5px;
    width: 0%;
    margin: 0px 0px 0px 0px;
    border: none;
    z-index: 11;
    position: relative;
}


.section-1, .section-1 .row{
	min-height: 43rem;
}



/*Section Navigation by Nikolay Talanov (source: http://codepen.io/suez/public/)*/

		.demo {
		  position: absolute;
		  width: 36rem;
		  height: 43rem;
		  left: 5rem;
		  padding-top: 22rem;
		  background: #FFFFFF;
		  /*border: 3px solid #3A619E;*/
		  /*box-shadow: 0 0.3rem 1.5rem rgba(0, 0, 0, 1);*/
		  /*font-family: "Open Sans", Helvetica, Arial, sans-serif;*/
		}
		.demo__content {
		  position: relative;
		  height: 100%;
		}	
		.demo__elems {
		  position: relative;
		  height: 21rem;
		}
		.demo__elem {
		  /*display: block;*/
		  position: relative;
		  height: 7rem;
		  font-size: 1.8rem;
		  line-height: 7rem;
		  padding-left: 3rem;
		  border-top: 1px solid #e7e7e7;
		}
		.demo__hover {
		  z-index: 2;
		  position: absolute;
		  left: 0;
		  width: 100%;
		  height: 7rem;
		  cursor: pointer;
		}
		.demo__link{
			display: block;
			height: 100%;
			width: 100%
		}
		.demo__hover-1 {
		  top: 0;
		}
		.demo__hover-1:hover ~ .demo__highlighter,
		.demo__hover-1.active ~ .demo__highlighter {
		  transform: translateY(0);
		}
		.demo__hover-1:hover ~ .demo__highlighter .demo__elems,
		.demo__hover-1.active ~ .demo__highlighter .demo__elems {
		  transform: translateY(0);
		}
		.demo__hover-2 {
		  top: 7rem;
		}
		.demo__hover-2:hover ~ .demo__highlighter,
		.demo__hover-2.active ~ .demo__highlighter  {
		  transform: translateY(7rem);
		}
		.demo__hover-2:hover ~ .demo__highlighter .demo__elems,
		.demo__hover-2.active ~ .demo__highlighter .demo__elems {
		  transform: translateY(-7rem);
		}
		.demo__hover-3 {
		  top: 14rem;
		}
		.demo__hover-3:hover ~ .demo__highlighter,
		.demo__hover-3.active ~ .demo__highlighter {
		  transform: translateY(14rem);
		}
		.demo__hover-3:hover ~ .demo__highlighter .demo__elems,
		.demo__hover-3.active ~ .demo__highlighter .demo__elems {
		  transform: translateY(-14rem);
		}
		.demo__hover-3:hover ~ .demo__example .example-adv__top,
		.demo__hover-3:hover ~ .demo__example .example-adv__mid,
		.demo__hover-3:hover ~ .demo__example .example-adv__elemne {
		  transform: translateY(100%);
		  opacity: 0;
		  transition: transform 0.2s, opacity 0.2s;
		}
		.demo__hover-3:hover ~ .demo__example .example-both {
		  background: #39A5F7;
		  transition: background-color 0.4s 0.2s;
		}
		.demo__hover-3:hover ~ .demo__example .example-both__half {
		  opacity: 1;
		  transform: scale(1);
		  transition: transform 0.4s 0.2s, opacity 0.4s 0.2s;
		}
		.demo__highlighter {
		  z-index: 1;
		  position: absolute;
		  top: 0;
		  left: -1rem;
		  width: 38rem;
		  height: 7rem;
		  background: #39A5F7;
		  overflow: hidden;
		  box-shadow: 0 0.3rem 0.2rem rgba(0, 0, 0, 0.3);
		  transition: transform 0.5s cubic-bezier(0.59, 0.04, 0.3, 1.43);
		}
		.demo__highlighter .demo__elems {
		  position: absolute;
		  top: 0;
		  left: 1rem;
		  transition: transform 0.5s cubic-bezier(0.59, 0.04, 0.3, 1.43);
		}
		.demo__highlighter .demo__elem {
		  color: #fff;
		  border: none;
		}
		.demo__example {
		  position: absolute;
		  top: -22rem;
		  left: 0;
		  width: 100%;
		  height: 22rem;
		  padding: 5.5rem 7rem 0 7rem;
		}
		.demo__example-nb {
		  position: relative;
		  height: 13.5rem;
		  padding: 0 1.5rem;
		  border-bottom: 1rem solid #424242;
		}

		.nb-inner {
		  position: relative;
		  width: 100%;
		  height: 12.5rem;
		  border: 0.7rem solid #424242;
		  overflow: hidden;
		}

		.example {
		  position: absolute;
		  top: 0;
		  left: 0;
		  width: 100%;
		  height: 100%;
		}
		.check-out {
		  position: absolute;
		  bottom: 0.5rem;
		  right: 0.5rem;
		  font-size: 1.5rem;
		  color: #fff;
		  font-family: "Open Sans", Helvetica, Arial, sans-serif;
		}

.snippet{
	margin: 10px auto;
}

.section-2{
	padding-left: 0px;
	padding-right: 0px;
}
.section-2:after {
  content: '';
  position: relative;
  bottom: -30px;
  width: 100%;
  height: 60px;
  -webkit-transform: skewY(2.5deg);
  -moz-transform: skewY(2.5deg);
  -ms-transform: skewY(2.5deg);
  -o-transform: skewY(2.5deg);
  transform: skewY(-2.5deg);
}

/*Quote Carousel bootstrap codepen*/
		/* carousel */
		#quote-carousel 
		{
		  padding: 0 10px 30px 10px;
		  margin-top: 30px 0px 0px;
		}

		/* Control buttons  */
		#quote-carousel .carousel-control
		{
		  background: none;
		  color: #222;
		  font-size: 2.3em;
		  text-shadow: none;
		  margin-top: 30px;
		}
		/* Previous button  */
		#quote-carousel .carousel-control.left 
		{
		  left: -12px;
		}
		/* Next button  */
		#quote-carousel .carousel-control.right 
		{
		  right: -12px !important;
		}
		/* Changes the position of the indicators */
		#quote-carousel .carousel-indicators 
		{
		  right: 50%;
		  top: auto;
		  bottom: 0px;
		  margin-right: -19px;
		}
		/* Changes the color of the indicators */
		#quote-carousel .carousel-indicators li 
		{
		  background: #c0c0c0;
		}
		#quote-carousel .carousel-indicators .active 
		{
		  background: #333333;
		}
		#quote-carousel img
		{
		  width: 250px;
		  height: 100px
		}
		/* End carousel */

		.item blockquote {
		    border-left: none; 
		    margin: 0;
		}

		.item blockquote img {
		    margin-bottom: 10px;
		}

		.item blockquote p:before {
		    content: "\f10d";
		    font-family: 'Fontawesome';
		    float: left;
		    margin-right: 10px;
		}



		/**
		  MEDIA QUERIES
		*/

		/* Small devices (tablets, 768px and up) */
		@media (min-width: 768px) { 
		    #quote-carousel 
		    {
		      margin-bottom: 0;
		      padding: 0 40px 30px 40px;
		      margin-top: 30px;
		    }
		    
		}

		/* Small devices (tablets, up to 768px) */
		@media (max-width: 768px) { 
		    
		    /* Make the indicators larger for easier clicking with fingers/thumb on mobile */
		    
		    #quote-carousel .carousel-indicators {
		        bottom: -20px !important;  
		    }
		    #quote-carousel .carousel-indicators li {
		        display: inline-block;
		        margin: 0px 5px;
		        width: 15px;
		        height: 15px;
		    }
		    #quote-carousel .carousel-indicators li.active {
		        margin: 0px 5px;
		        width: 20px;
		        height: 20px;
		    }
		}

section .hr{
    margin: 25px 0;
    height: 1px;
    background: black;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(50%, black));
}

/*#affix*/
.affix-top {
  position: relative;
}

.affix {
  top: 123px;
}
.affix-bottom {
  position: absolute;
}

.bg-team .col-xs-12{
	overflow: hidden;
}


	/*Execom grid*/
		.grid {
			padding: 20px 20px 100px 20px;
			max-width: 1300px;
			margin: 0 auto;
			list-style: none;
			text-align: center;
			/*overflow: hidden;*/
		}

		.grid li {
			display: inline-block;
			width: 250px;
			/*overflow: hidden;*/
			margin: 0;
			padding: 20px;
			text-align: left;
			position: relative;
		}

		.grid figure {
			margin: 0;
			position: relative;
		}

		.grid figure img {
			max-width: 100%;
			display: block;
			position: relative;
			z-index: 10;
		}

		.grid figcaption {
			position: absolute;
			top: 0;
			left: 0;
			padding: 20px;
			background: #2c3f52;
			color: #ed4e6e;
		}


		.grid figcaption h3 {
			margin: 0;
			padding: 0;
			color: #fff;
		}

		.grid figcaption span:before {
			content: 'by ';
		}

		.grid figcaption a {
			text-align: center;
			padding: 5px 10px;
			border-radius: 2px;
			display: inline-block;
			background: #ed4e6e;
			color: #fff;
		}
		.grid figcaption {
				height: 90px;
				width: 100%;
				top: auto;
				bottom: 0;
				-webkit-backface-visibility: hidden;
				-moz-backface-visibility: hidden;
				backface-visibility: hidden;
			}

		.grid figcaption a {
				position: absolute;
				right: 20px;
				top: 30px;
			}

		@media (max-width: 767px){
			.grid figure img {
				z-index: 10;
				-webkit-transition: -webkit-transform 0.4s;
				-moz-transition: -moz-transform 0.4s;
				transition: transform 0.4s;
			}

			.no-touch .grid figure:hover img,
			.grid figure.cs-hover img {
				-webkit-transform: translateY(-90px);
				-moz-transform: translateY(-90px);
				-ms-transform: translateY(-90px);
				transform: translateY(-90px);
			}
			
		}

		@media (min-width: 768px){
			.grid figure figcaption {
				z-index: 10;
				-webkit-transition: -webkit-transform 0.4s;
				-moz-transition: -moz-transform 0.4s;
				transition: transform 0.4s;
			}

			.no-touch .grid figure:hover figcaption,
			.grid figure.cs-hover figcaption {
				-webkit-transform: translateY(+90px);
				-moz-transform: translateY(+90px);
				-ms-transform: translateY(+90px);
				transform: translateY(+90px);
			}
		}
		@media screen and (max-width: 31.5em) {
			.grid {
				padding: 10px 10px 100px 10px;
			}
			.grid li {
				width: 100%;
				min-width: 300px;
			}
		}

		.embed-responsive-301{
			padding-bottom: 301%;
		}